<?xml version="1.0"?>
<config>
  <modules>
    <Ghrix_Campaignmanager>
      <version>0.1.0</version>
    </Ghrix_Campaignmanager>
  </modules>
  <frontend>
    <routers>
      <campaignmanager>
        <use>standard</use>
          <args>
            <module>Ghrix_Campaignmanager</module>
            <frontName>campaignmanager</frontName>
          </args>
      </campaignmanager>
    </routers>
		<layout>
		  <updates>
			<campaignmanager>
			  <file>campaignmanager.xml</file>
			</campaignmanager>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <campaignmanager>
        <class>Ghrix_Campaignmanager_Helper</class>
      </campaignmanager>
    </helpers>
	<blocks>
	  <campaignmanager>
		<class>Ghrix_Campaignmanager_Block</class>
	  </campaignmanager>
	</blocks>
	<models>
	  <campaignmanager>
		<class>Ghrix_Campaignmanager_Model</class>
		<resourceModel>campaignmanager_mysql4</resourceModel>
	  </campaignmanager>
	  <campaignmanager_mysql4>
		<class>Ghrix_Campaignmanager_Model_Mysql4</class>
		<entities>		  
			  <campaignmanager>
				<table>campaignmanager</table>
			  </campaignmanager>
		</entities>
	  </campaignmanager_mysql4>
	</models>
	<resources>
	  <campaignmanager_setup>
		<setup>
		  <module>Ghrix_Campaignmanager</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </campaignmanager_setup>
	  <campaignmanager_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </campaignmanager_write>
	  <campaignmanager_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </campaignmanager_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <campaignmanager>
	    <use>admin</use>
		<args>
		  <module>Ghrix_Campaignmanager</module>
		  <frontName>admin_campaignmanager</frontName>
		</args>
	  </campaignmanager>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <campaignmanager module="campaignmanager">
		<title>Campaignmanager</title>
		<sort_order>100</sort_order>
		<children>
		  <campaignmanagerbackend module="campaignmanager">
			<title>Campaignmanager</title>
			<sort_order>0</sort_order>
			<action>admin_campaignmanager/adminhtml_campaignmanagerbackend</action>
		  </campaignmanagerbackend>
		  <campaignmanager module="campaignmanager">
		    <title>Manage Campaignmanager</title>
			<sort_order>0</sort_order>
			<action>admin_campaignmanager/adminhtml_campaignmanager</action>
		  </campaignmanager>
		</children>
	  </campaignmanager>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<campaignmanager translate="title" module="campaignmanager">
			  <title>Campaignmanager</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <campaignmanagerbackend translate="title">
			<title>Campaignmanager</title>
		  </campaignmanagerbackend>
		  <campaignmanager translate="title">
			<title>Manage Campaignmanager</title>
			<sort_order>0</sort_order>
		  </campaignmanager>
			  </children>
			</campaignmanager>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<campaignmanager>
		  <file>campaignmanager.xml</file>
		</campaignmanager>
	  </updates>
	</layout>
  </adminhtml>
</config> 