<?xml version="1.0"?>
<config>
  <modules>
    <Ghrix_Bannercampaign>
      <version>0.1.0</version>
    </Ghrix_Bannercampaign>
  </modules>
  <frontend>
    <routers>
      <bannercampaign>
        <use>standard</use>
          <args>
            <module>Ghrix_Bannercampaign</module>
            <frontName>bannercampaign</frontName>
          </args>
      </bannercampaign>
    </routers>
		<layout>
		  <updates>
			<bannercampaign>
			  <file>bannercampaign.xml</file>
			</bannercampaign>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <bannercampaign>
        <class>Ghrix_Bannercampaign_Helper</class>
      </bannercampaign>
    </helpers>
	<blocks>
	  <bannercampaign>
		<class>Ghrix_Bannercampaign_Block</class>
	  </bannercampaign>
	</blocks>
	<models>
	  <bannercampaign>
		<class>Ghrix_Bannercampaign_Model</class>
		<resourceModel>bannercampaign_mysql4</resourceModel>
	  </bannercampaign>
	  <bannercampaign_mysql4>
		<class>Ghrix_Bannercampaign_Model_Mysql4</class>
		<entities>		  
			  <bannercampaign>
				<table>bannercampaign</table>
			  </bannercampaign>
        </entities>
	  </bannercampaign_mysql4>
	</models>
	<resources>
	  <bannercampaign_setup>
		<setup>
		  <module>Ghrix_Bannercampaign</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </bannercampaign_setup>
	  <bannercampaign_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </bannercampaign_write>
	  <bannercampaign_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </bannercampaign_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <bannercampaign>
	    <use>admin</use>
		<args>
		  <module>Ghrix_Bannercampaign</module>
		  <frontName>admin_bannercampaign</frontName>
		</args>
	  </bannercampaign>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <bannercampaign module="bannercampaign">
		<title>Bannercampaign</title>
		<sort_order>100</sort_order>
		<children>
		  <bannercampaignbackend module="bannercampaign">
			<title>bannercampaign</title>
			<sort_order>0</sort_order>
			<action>admin_bannercampaign/adminhtml_bannercampaignbackend</action>
		  </bannercampaignbackend>
		  <bannercampaign module="bannercampaign">
		    <title>Manage Bannercampaign</title>
			<sort_order>0</sort_order>
			<action>admin_bannercampaign/adminhtml_bannercampaign</action>
		  </bannercampaign>
		</children>
	  </bannercampaign>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<bannercampaign translate="title" module="bannercampaign">
			  <title>Bannercampaign</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <bannercampaignbackend translate="title">
			<title>bannercampaign</title>
		  </bannercampaignbackend>
		  <bannercampaign translate="title">
			<title>Manage Bannercampaign</title>
			<sort_order>0</sort_order>
		  </bannercampaign>
			  </children>
			</bannercampaign>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<bannercampaign>
		  <file>bannercampaign.xml</file>
		</bannercampaign>
	  </updates>
	</layout>
  </adminhtml>
</config> 